<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bs4css/bootstrap.min.css">
    
    <title><%= page %></title>
  </head>
  <body>

    <%- include("../static-page/navbar") %>

    <%- body; %>
<!-- bs4js -->
    <!-- jquery -->
    <script src="/bs4js/jquery.js"></script>
    <!-- script bs -->
    <!-- <script src="/bs4js/bootsrap.min.js"></script> -->
    <script src="/bs4js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/bs4js/myscript.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- script; %> 
  </body>
</html>
